.tag-form {
	display: flex;
	height: 38px;
}

.wrap {
	position: relative;
	margin-right: 6px;
	margin-left: 20px;
}

.cansle {
	position: absolute;
	left: -32px;
	top: 10px;
	width: 32px;
	height: 32px;
	text-align: center;
	color: silver;
}

.cansle:hover {
	cursor: pointer;
}
