@import './../../../../css/variables.css';

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 34px;
	padding-top: 4px;
	border-radius: 8px;
	border: none;
	outline: none;
}

.btn:hover {
	cursor: pointer;
}

.btn.disabled {
	opacity: 70%
}

.btn.primary {
	background-color: var(--color-primary);
}

.btn.dark-primary {
	background-color: var(--color-dark-primary);
}

.btn.secondary {
	background-color: var(--color-secondary);
}

.btn.dark-secondary {
	background-color: var(--color-dark-secondary);
}

.btn.tertiary {
	background-color: var(--color-tertiary);
}

.btn.classic {
	width: 200px;
	height: 34px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
}

.btn.ok {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 100%;
	border-radius: 5px;
	background: whitesmoke;
	color: lightgreen;
}

.btn.ok::before {
	content: '\2713';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 48px;
	height:100%;
	font-size: 28px;
	line-height: 150%;
	text-align: center;
}
