@import './css/reset.css';
@import './css/variables.css';
@import './css/font.css';

body {
  background-color: var(--color-primary);
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}
